.video-container {
  position: relative;
  display: flex;
  height: 45vw;
  max-width: 800px;
  max-height: 450px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-end;
}

.controls {
  position: absolute;
  width: 75%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.play-btn {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("./svg/play-pause.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
}

.play-btn svg {
  fill: white !important;
}

.fullscreen-btn {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("./svg/fulscreen.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
.fullscreen-btn svg {
  fill: white !important;
}

.mute-btn {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("./svg/mute-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  right: 72px;
  transform: translateY(-50%);
}

.seek-bar-container {
  flex: 1;
  margin: 0 16px;
}

.seek-bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 2px;
  margin: 0;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #555;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .video-container {
    height: 56.25vw;
  }

  .controls {
    height: 32px;
    padding: 0 8px;
  }

  .play-btn,
  .mute-btn {
    width: 16px;
    height: 16px;
  }

  .seek-bar-container {
    margin: 0 8px;
  }

  .seek-bar {
    -webkit-appearance: none; /* hide default thumb */
    -moz-appearance: none;
    appearance: none;
    height: 5px; /* set the height of the track */
    background-color: #ccc; /* set the color of the track */
  }

  .seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none; /* hide default thumb */
  }

  .seek-bar::-moz-range-thumb {
    -moz-appearance: none; /* hide default thumb */
  }
}
